.DS_Store
.dart_tool/
.idea/
twitter_auth_v2.iml

.packages
.pub/

build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*
example/ios/Flutter/.last_build_id
.vscode/launch.json
.flutter-plugins
.flutter-plugins-dependencies
example/pubspec.lock
pubspec.lock
example/ios/Podfile.lock
